<title>Node Starter App with Mongo</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" 
        content="width=device-width, height=device-height,  initial-scale=1.0, user-scalable=no,user-scalable=0"/>
<meta name="description" 
        content="A boilerplate for Node.js web applications.">
<meta name="keywords" content="hello-world-node, semantic-ui, nodejs-boilerplate">
<meta name="robots" content="index, follow" />
<meta name="author" content="varunon9@gmail.com">
<link rel="author" href="https://plus.google.com/u/0/104979787684845609573" />
<meta property="og:url" content="https://github.com/varunon9/node-starter-app-Mongo">
<meta property="og:description" 
        content="A boilerplate for Node.js web applications.">
<meta property="og:title" content="Node Starter App with Mongo">
<meta property="og:site_name" content="https://github.com/varunon9/node-starter-app-Mongo">
<meta itemprop="name" content="Node Starter App with Mongo">
<meta itemprop="description" 
        content="A boilerplate for Node.js web applications.">
<meta name="twitter:card" content="summary">
<meta name="twitter:url" content="https://github.com/varunon9/node-starter-app-Mongo">
<meta name="twitter:title" content="Node Starter App with Mongo">
<meta name="twitter:description" 
        content="A boilerplate for Node.js web applications.">
<link rel="shortcut icon" href="images/favicon.ico" />

<!-- Toast Plugin -->
<link href="bower_components/jquery-toast-plugin/dist/jquery.toast.min.css" rel="stylesheet"/>
<link href="bower_components/semantic/dist/semantic.min.css" rel="stylesheet"/>
<link rel="stylesheet" href="css/main.css">

<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/jquery-toast-plugin/dist/jquery.toast.min.js"></script>
<script src="bower_components/semantic/dist/semantic.min.js"></script>

<script src="js/globals.js"></script>