<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ./partials/head %>
    </head>
    <body>
        <div class="ui menu" id="menu">
            <div id="menuLogo">
                <a href="https://github.com/varunon9">
                    <img src="images/github-logo.svg" alt="My Github Profile" />
                </a>
            </div>
            <div class="item">
                <h4>
                    Node Starter App with Mongo
                </h4>
            </div>
            <div class="right menu">
                <div class="item">
                    <a href="login">Login</a>
                </div>
                <div class="item">
                    <a href="signup">Signup</a>
                </div>
                <div class="item">
                    <a href="#">Help</a>
                </div>
            </div>
        </div>
        <div class="ui container">
            <div class="ui header">
                Welcome!!
            </div>
            <p>
                This page can be turned into a beautiful landing page for your website.
            </p>
        </div>
    </body>
</html>